{% load comments %}
<article>
    <a href="{% url 'article' article.slug %}">
        <h2 class="padding-10-h">{{ article.title }}</h2>
    </a>
    <div class="article-meta padding-10-h">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                {{ article.date|date:"l, j E Y" }}
            </li>
            <li class="breadcrumb-item">
                {% get_comment_count for article as comment_count %}
                <a href="{% url 'article' article.slug %}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'category' article.category.slug %}">{{ article.category }}</a></span>
            </li>
            <li class="breadcrumb-item">
                {% for tag in article.tags.all %}
                    <a href="{% url 'tag' tag.slug %}">{{ tag }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
    <div class="padding-10-h margin-10-v">
        {% if not asdetail %}
            {{ article.content_html|truncatewords_html:60|safe }}
        {% else %}
            {{ article.content_html|safe }}
        {# endif is at end because comments should be hidden by default #}
    </div>
    <ul class="pagination">
        {% if article.prev %}
        <li class="page-item page-prev">
            <a href="{% url 'article' article.prev.slug %}">
                <p class="page-item-meta">Previous</p>
                <h3 class="page-item-title">{{ article.prev }}</h3>
            </a>
        </li>
        {% endif %}
        {% if article.next %}
            <li class="page-item page-next">
                <a href="{% url 'article' article.next.slug %}">
                    <p class="page-item-meta">Next</p>
                    <h3 class="page-item-title">{{ article.next }}</h3>
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="article-meta padding-10-h" id="comments">
        {% render_comment_list for article %}
    </div>
    {% render_comment_form for article %}
    {% endif %}
</article>
