{% comment %}
<ul class="pagination">
    <li class="page-item">
        <a href="?p={{ articles.previous_page_number }}" tabindex="{{ articles.previous_page_number }}" {% if not articles.has_previous %}disabled{% endif %}>Previous</a>
    </li>
    {% for i in articles.paginator.page_range %}
        <li class="page-item {% if articles.number == i %}active{% endif %}">
            <a href="?p={{ i }}">{{ i }}</a>
        </li>
    {% endfor %}
    <li class="page-item">
        <a href="?p={{ articles.next_page_number }}" tabindex="{{ articles.next_page_number }}" {% if not articles.has_next %}disabled{% endif %}>Next</a>
    </li>
</ul>
{% endcomment %}

