<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Wpisy o programowaniu i innych rzeczach.">
        <meta name="author" content="Artur Tamborski">

        <title>{% block title %}{% endblock %} Artur Tamborski</title>

        {% load static %}
        <link rel="stylesheet" href="{% static '/blog/css/spectre.min.css' %}">
<style>
article {
    padding: 30px 0;
}
.article-meta ul {
    font-size: smaller;
    font-style: italic;
    padding: 0;
}
</style>
    </head>
    <body>
        <header class="navbar container grid-960">
            <section class="column centered col-9 col-md-11 col-sm-12">
                <nav class="navbar">
                    <section class="section navbar-section">
                        <a class="navbar-brand" href="{% url 'home' %}">Artur Tamborski</a>
                    </section>
                    <section class="section navbar-section">
                        <a class="btn btn-link" href="{% url 'about' %}">About</a>
                        <a class="btn btn-link" href="{% url 'category' %}">Categories</a>
                        <a class="btn btn-link" href="{% url 'tag' %}">Tags</a>
                    </section>
                    <section class="section navbar-section">
                        <div class="container">
                            <div class="columns">
                                <form class="input-group input-inline" method="get">
                                    <input class="form-input column col-sm-12" type="search" name="s">
                                    <input class="btn input-group-btn" type="submit" value="Search">
                                </form>
                            </div>
                        </div>
                    </section>
                </nav>
                <div class="divider"></div>
            </section>
        </header>
        <main class="container grid-960">
            <section class="column centered col-9 col-md-11 col-sm-12">
                {% block content %}{% endblock %}
            </section>
        </main>
        <footer class="container grid-960">
            <section class="column centered text-center col-9 col-md-11 col-sm-12">
                <div class="divider"></div>
            </section>
        </footer>
    </body>
</html>
