<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="blog artur tamborski">
        <meta name="author" content="Artur Tamborski">
        <title>{% block title %}{% endblock %} Artur Tamborski</title>
    </head>
    <body>
        <header>
            <h1><a href="{% url 'home' %}">Artur Tamborski</a></h1>
            <h2>
                <a href="/about">kontakt</a>
                <a href="/article">archiwum</a>
                <a href="/category">kategorie</a>
                <a href="">tagi</a>
                <form action="/blog/search" method="get">
                    <input type="text" name="q">
                    <input type="submit" value="szukaj">
                </form>
            </h2>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            Copyright 2017 &copy; Artur Tamborski.
        </footer>
        {% load static %}
        <link rel="stylesheet" href="{% static '/blog/css/style.css' %}" type="text/css">
        <script src="{% static 'blog/js/highlight.js' %}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
