[settings]
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, localhost
INTERNAL_IPS=127.0.0.1
# You can get this key from https://github.com/ariestiyansyah/django-secret-key
SECRET_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
DB_HOST=127.0.0.1
